/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

/* Tar bort default browser stilar */
* {
    padding: 0;
    margin: 0;
    /* Gör så att bredd och vidd innefattar ex padding */
    box-sizing: border-box;
}

/* Generella stilar på mobil skärm */
body {
    /* Body ska alltid ta upp minst hela fönstret */
    min-height: 100vh;
    width: 100%;
    /* Typsnitt, färg, utseende */
    font-family: 'Lato', sans-serif;
    color: #2e2e22;
    background-color: #e6e4dd;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Athiti', sans-serif;
    margin-bottom: 5px;
}

/* Rubriker som inte ska visas, men som syns för skärmläsare */
.hidden-heading {
    display: none;
}

/* Sidhuvud mobil */
header {
    /* Sitter fast och är positionerat fram på sidan*/
    position: fixed;
    z-index: 99;
    background-color: #ffffff;
    padding: 10px 15px;
    width: 100%;
    /* En "skugga" så att header skiljer sig lite mer från main */
    box-shadow: 0 1px 2px rgb(183, 179, 179);
    /* Delar upp loggan och hamburgerikonen */
    display: flex;
    justify-content: space-between;
    /* Centrerar innehållet horisontellt */
    align-items: baseline;
}

/* Stilar för länkar i sidhuvudet */
header a {
    /* Tar bort default stil från länkar, som ex understrykning */
    text-decoration: none;
    color: #000000;
}

/* Logga mobil - typsnitt, färg, utseende */
.logo-container a {
    font-family: 'Dancing script', cursive;
    font-weight: 700;
    font-size: 1.9rem;
}

/* Dropdown-meny mobil */
nav {
    /* Tar ut elementet från det normala flödet och positioner i förhållande till header */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 0 0;
    box-shadow: 0 1px 2px rgb(183, 179, 179);
    /* Gömmer menyn */
    display: none;
}

/* Menylänkar */
.navbar a {
    /* Genom att lägga padding inuti länkarna blir ett större område klickbart */
    padding: 15px 10px;
    margin: 5px 7px;
    font-size: 1rem;
    color: black;
    background-color: #e6e4dd;
    /* Visa som versaler */
    text-transform: uppercase;
}

/* Extra skugga appliceras vid klick */
.navbar a:active {
    box-shadow: 0 0 5px rgb(87, 83, 82);
}

/* Markera den aktuella sidan med understrykning */
#active {
    text-decoration: underline;
}

/* Navbar toggle på mobil - visar menyn när checkrutan är ikryssad. Blir ikryssad när man klickar på etiketten (hamburgerikonen) */
#nav-toggle:checked~nav {
    display: flex;
    flex-direction: column;
}

/* Gömmer checkrutan för navigation på mobil */
#nav-toggle {
    display: none;
}

/* Stil för hamburgerikonen */
.nav-toggle-label {
    font-size: 2rem;
}

/* Main på mobil */
/* Flytta ner main under header */
main {
    margin-top: 60px;
    /* Gör så att main "växer" och trycker ner sidfot till botten */
    flex: 1 0 auto;
}

/* Hero-sektion */
#hero {
    /* En fast höjd i pixlar */
    height: 450px;
    width: 100%;
    /* Bakgrundsbild som ska täcka storleken */
    background: url("../images/ivy.webp") no-repeat center center/cover;
    /* Låter mig positionera "hero overlay" i förhållande till hero */
    position: relative;
}

/* En "overlay", som positioneras ovanpå bakgrunden (hero). */
#hero-text-container {
    background-color: #ffffff;
    border: 5px solid #e6e4dd;
    font-size: 120%;
    width: 90%;
    /* Centrerar horisontellt */
    left: 0;
    right: 0;
    margin: auto;
    padding: 40px 20px;
    min-height: 200px;
    position: absolute;
    /* Positionerar 100px från botten av "hero" */
    bottom: 100px;
    border-radius: 50%;
    /* Centrerar texten inuti */
    text-align: center;
    max-width: 515px;
}

/* text i hero overlay som efterliknar loggan */
#hero-logo {
    font-size: 2rem;
    font-family: 'Dancing script', cursive;
    margin: 7px 0;
}

/* Appliceras på en div som omfattar allt content i main på index.html */
.two-columns {
    width: 93%;
    /* Centrerar */
    margin: auto;
}

#offers-section {
    margin-top: 15px;
}

/* Appliceras på alla div inuti två sektioner */
#offers-section>div,
#details-section>div {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 15px;
}

/* Bilder i offers section */
/* div som håller bild-elementet */
.offers-image-container {
    /* Bredden i förhållande till förälderns bredd - 85% men högst 300px */
    width: 85%;
    max-width: 300px;
    /* 20px marginal vertikalt, centrera horisontellt */
    margin: 20px auto;
}

/* Själva bilden */
.offers-image-container img {
    /* Bredd 100% av föräldern */
    width: 100%;
    display: flex;
    /* Anger bildens dimension */
    aspect-ratio: 1 / 1;
    /* Bilden ska täcka den angivna storleken */
    object-fit: cover;
    /* Gör bilden rund, så länge den är 1:1 */
    border-radius: 50%;
}

.offers-text-container {
    padding-bottom: 10px;
}

/* Länkar till sociala medier, details */
#details-section a {
    /* Tar bort default styling för länkar */
    text-decoration: none;
    font-size: 3rem;
    margin-right: 10px;
    color: #514330;
}

/* Blomsterbud sidan */
/* Appliceras på div som håller allt content på sidan */
.blomsterbud-wrapper {
    background-color: white;
    width: 93%;
    /* marginal upptill och nedtill, centrera horisontellt */
    margin: 15px auto;
    padding: 15px;
}

/* Appliceras på h1-element inuti element med klassen */
.blomsterbud-text h1 {
    font-size: 1.5rem;
    /* Visa som versaler */
    text-transform: uppercase;
    margin-bottom: 10px;
}

.blomsterbud-text {
    font-size: 1.1rem;
}

.blomsterbud-image-container {
    width: 70%;
    max-width: 300px;
    /* marginal 20px upptill, 10px nedtill, och centrera horisontellt */
    margin: 20px auto 10px auto;
    /* Skapar en buffer mellan elementets yttre kant och innehåll*/
    padding: 10px;
    /* Gör rund */
    border-radius: 50%;
    /* En dubbel kant/ram */
    border: 5px double #514330;
}

/* Bilden stylas för att ta upp 100% bredd av föräldern, täcka ytan, och behålla sin form. */
.blomsterbud-image-container img {
    width: 100%;
    object-fit: cover;
    display: flex;
    /* Gör kvadratiskt element rund */
    border-radius: 50%;
}

/* Blomsterbud details sektion */
#blomsterbud-details-section {
    margin: 25px 0;
}

.blomsterbud-details-box {
    background-color: #efede9;
    color: #2e2e22;
    padding: 20px;
    text-align: center;
    border-radius: 3px;
    margin: 15px 0;
    text-transform: uppercase;
}

.blomsterbud-details-paragraph {
    font-size: 1.1rem;
}

/* Blomsterarrangemang */
#binderi-intro-section,
#brollop-section,
#begravn-section {
    width: 93%;
    margin: auto;
    background-color: white;
    margin-top: 15px;
    padding: 15px;
}

/* En div som agerar som yttre container för en bild */
.arrangemang-divide-container {
    display: flex;
    /* tar upp hela förälderns bredd */
    width: 100%;
    /* centrerar */
    margin: auto;
    /* sätter dimensionen */
    aspect-ratio: 4 / 1;
    /* höjd sätts utifrån dimension */
    height: auto;
}

.arrangemang-divide-container img {
    /* bilden tar upp 50% bredd av förälderns bredd */
    width: 50%;
    margin: auto;
    /* bilden "krymper" till största möjliga storlek som får plats i sin helhet inuti föräldern */
    object-fit: contain;
}

.border-bottom {
    border-bottom: 5px double #e6e4dd;
    margin-bottom: 15px;
}

.border-top {
    border-top: 5px double #e6e4dd;
    margin-top: 40px;
}

#begravn-section {
    margin-bottom: 15px;
}

.binderi-intro-text {
    font-size: 1.1rem;
}

.binderi-image-container {
    display: flex;
    width: 75%;
    max-width: 300px;
    /* marginal 15px upptill, 0 nedtill, och centreras horisontellt */
    margin: 15px auto 0 auto;
}

.binderi-image-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.binderi-intro-boxes div {
    background-color: #efede9;
    width: 100%;
    margin: 15px auto 0 auto;
    padding: 15px;
    /* Rundar hörnen diskret */
    border-radius: 3px;
}

.binderi-intro-boxes h2 {
    font-size: 1.3rem;
}

.link-standard {
    text-decoration: none;
    /* fetstil */
    font-weight: 600;
    color: #514330;
}

.link-standard:hover {
    text-decoration: underline;
}

/* Bröllop och begravning */
.brollop-begr-intro-text {
    font-size: 1.1rem;
}

.gallery-container {
    /* Gör galler-container till en flex-box. Tillåter att vi ordnar dess barn mer flexibelt */
    display: flex;
    /* Innehållet tar upp fler rader när det inte får plats på en rad */
    flex-wrap: wrap;
    /* Innehållet ordnas med så mycket utrymmer som möjligt mellan dem */
    justify-content: space-between;
    margin: 15px 0;
}

/* Varje bild-container är 49% bred (i förhållande till föräldern. Alltså kommer 2 få plats per rad, med lite utrymme mellan */
.gallery-image-container {
    width: 49%;
    aspect-ratio: 1/1;
    display: flex;
    /* Skapar lite marginal upptill och nedtill, inget extra utrymme horisontellt */
    margin: 1% 0;
}

/* Varje bild tar upp hela ytan av sin förälder */
.gallery-image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Om oss */
.story-article {
    width: 93%;
    margin: 15px auto;
}

.story-article h1 {
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
}

.story-text-card {
    background-color: #ffffff;
    padding: 10px;
}

.story-image-card {
    width: 100%;
    display: flex;
}

/* Varje bild tar upp hela ytan av sin förälder */
.story-image-card img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    /* En vit kant, 10px bred */
    border: 10px solid #ffffff;
}

.article-last-p {
    font-weight: 600;
    margin-bottom: 15px;
}

/* Kontakta oss (+response.html) sida */
/* Sektion med öppettider och kontaktuppgifter */
#hours-contact-section {
    background-color: #ffffff;
    /* Skapar avstånd till nästa sektion */
    margin: 20px auto;
    width: 93%;
}

/* Bild i första sektionen */
.contact-first-image-container {
    width: 100%;
    aspect-ratio: 6 / 1;
    display: flex;
    padding-top: 10px;
}

.contact-first-image-container img {
    width: 100%;
    object-fit: cover;
}

.hours-contact-text-content {
    padding: 15px;
}

.contact-page-hours {
    border-bottom: 3px solid #514330;
    padding-bottom: 15px;
}

.contact-page-contacts {
    padding: 15px 0;
}

.contact-page-social {
    border-top: 3px solid #514330;
    padding-top: 15px;
}

.contact-page-social a {
    text-decoration: none;
    color: #514330;
    margin-right: 20px;
}

.contact-page-social i {
    margin-top: 15px;
    font-size: 2.8rem;
}

/* Formulär */
/* Sektion för formulär, motsvarande sektion på respons-sidan, (feedback-section) får samma stil */
#form-section,
#feedback-section {
    background-color: #ffffff;
    width: 93%;
    margin: 0 auto 20px auto;
    padding: 15px;
}

#form-section h2,
#feedback-section h2 {
    text-transform: uppercase;
    border-bottom: 3px solid #514330;
}

.form-image-container {
    width: 50%;
    max-width: 300px;
    display: flex;
    margin: 20px auto;
    border-radius: 50%;
    padding: 5px;
    border: 5px solid #0d3e16;
}

/* Tar upp hela förälderns yta */
.form-image-container img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

#feedback-form {
    /* Ordnar alla barn-element i en kolumn och låter varje barn-element ta upp en hel rad */
    display: flex;
    flex-direction: column;
}

.form-intro {
    font-weight: 600;
    font-size: 1.1rem;
}

.form-input-wrapper div {
    /* Ordnar alla barn-element i en kolumn och låter varje barn-element ta upp en hel rad */
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#feedback-form label {
    margin-top: 10px;
    font-weight: 600;
}

#feedback-form textarea {
    /* Ger textarea lite mer höjd så att användare lättare kan se vad de skriver */
    height: 100px;
}

/* Skapar lite mer utrymme i input-fälten */
#feedback-form input,
#feedback-form textarea {
    padding: 5px;
    font-size: 1rem;
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
}

.submit-button {
    /* Gör så att muspekaren indikerar att detta är ett interaktivt element */
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 8px;
    background-color: rgb(18, 85, 18);
    color: #ffffff;
    font-weight: 500;
    /* Skapar lite mer utrymme mellan bokstäverna */
    letter-spacing: 2px;
    font-family: 'Athiti', sans-serif;
    margin: 15px 0;
}

/* Ger knappen en skugga när muspekaren förs över den */
.submit-button:hover {
    box-shadow: 10px 10px 30px #bcb9b9;
}

/* Ger knappen en lite tajtare skugga vid klick, i en mörkare färg, samt justerar bakgrundsfärgen */
.submit-button:active {
    box-shadow: 10px 10px 15px #959292;
    background-color: rgb(14, 64, 14);
}

/* Sidfot mobil */
footer {
    background-color: rgb(65, 54, 38);
    color: #ffffff;
}

footer div,
footer address {
    margin: 1rem 1rem;
}

footer address {
    font-style: normal;
}

/* Stilar för tablets */
@media screen and (min-width: 768px) {

    /* Sidhuvud på tablets */
    header {
        padding: 5px 15px;
        box-shadow: 0 1px 2px rgb(183, 179, 179);
        /* Delar upp header på två rader */
        flex-direction: column;
        align-items: center;
    }

    /* Tar fram menyn, oavsett om checkrutan är markerad */
    nav,
    #nav-toggle:checked~nav {
        position: relative;
        box-shadow: none;
        /* Visa elementen i menyn på en rad, och horisontellt centrerat */
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* Gömmer hamburgerikonen som inte längre behövs */
    .nav-toggle-label {
        display: none;
    }

    /* Skapa lite utrymme mellan logga och meny */
    .logo-container {
        padding-bottom: 5px;
    }

    /* Main på tablets */
    /* Flytta ner main under header */
    main {
        margin-top: 111px;
        font-size: 1.1rem;
    }

    /* Sätter default storlek på headings på tablets */
    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    /* Hero på tablet - justerar storlek och padding lite */
    #hero-text-container {
        font-size: 120%;
        width: 70%;
        max-width: 600px;
        padding: 40px 20px;
        min-height: 230px;
    }

    #hero-logo {
        font-size: 3rem;
        margin: 10px 0;
    }

    /* Content sektioner tablets */
    .two-columns {
        width: 96%;
    }

    /* Använder float för att lägga två sektioner i varsin kolumn */
    #offers-section {
        float: left;
        width: 68%;
        padding-right: 15px;
    }

    #details-section {
        width: 32%;
        float: right;
        margin-top: 15px;
    }

    /* Blomsterbud sidan */
    .blomsterbud-wrapper {
        margin: 30px auto;
        padding: 20px;
        width: 95%;
    }

    .blomsterbud-text h1 {
        font-size: 1.8rem;
    }

    .blomsterbud-text {
        font-size: 1.2rem;
    }

    /* Justerar storlek och max-storlek för bildens behållare */
    .blomsterbud-image-container {
        width: 40%;
        max-width: 350px;
        margin: 30px auto;
    }

    /* Blomsterbud details sektion */
    #blomsterbud-details-section {
        margin: 40px auto;
        /* Gör elementet till en flexbox.*/
        display: flex;
        /* Innehållet tar upp flera rader vid behov */
        flex-wrap: wrap;
        /* Innehållet placeras så långt ifrån varandra som möjligt */
        justify-content: space-between;
    }

    /* Varje element med klassen får en bredd på 32%, så tre får plats på en rad, med lite marginal. Det fjärde elementet hamnar på en egen rad. */
    .blomsterbud-details-box {
        padding: 20px;
        width: 32%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
    }

    .blomsterbud-details-paragraph {
        font-size: 1.2rem;
    }

    /* Blomsterarrangemang */
    #binderi-intro-section,
    #brollop-section,
    #begravn-section {
        width: 95%;
        padding: 25px;
        margin-top: 20px;
        padding-bottom: 40px;
    }

    #begravn-section {
        margin-bottom: 20px;
    }

    /* Justerar aspect ratio för bildernas behållare */
    .arrangemang-divide-container {
        aspect-ratio: 7 / 1;
    }

    .arrangemang-divide-container img {
        /* Bilden får ta upp 30% av behållarens bredd */
        width: 30%;
        margin: 10px auto;
    }

    .border-bottom {
        border-bottom: 8px double #e6e4dd;
        margin-bottom: 25px;
    }

    .border-top {
        border-top: 8px double #e6e4dd;
        margin-top: 60px;
    }

    .binderi-top-container {
        margin: auto;
        padding: 0 15px 15px 15px;
        /* Gör till flexbox, med innehållet på en rad */
        display: flex;
        flex-wrap: nowrap;
        /* Centrera innehållet (barn-elementen) vertikalt */
        align-items: center;
    }

    .binderi-top-container h1 {
        font-size: 2.2rem;
    }

    .binderi-intro-text {
        font-size: 1.2rem;
    }

    .binderi-image-container {
        margin-left: 20px;
    }

    .binderi-intro-boxes div {
        background-color: #efede9;
        margin: 20px auto 0 auto;
        padding: 25px 20px;
    }

    /* Bröllop och begravning */
    .brollop-begr-intro-text {
        font-size: 1.2rem;
    }

    /* Lägger till padding och en border runt galleriet så att bilderna inte blir riktigt så stora */
    .gallery-container {
        padding: 2% 3%;
        border: 10px double #e6e4dd;
        margin: 20px auto;
    }

    /* Om oss */
    .story-article {
        width: 95%;
        margin: 15px auto;
        /* Gör till flexbox, med innehåll på flera rader, placerade så långt ifrån varandra som möjligt */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .story-article h1 {
        font-size: 1.8rem;
        text-align: center;
        text-transform: uppercase;
        /* Tar upp en hel rad */
        width: 100%;
    }

    .story-text-card {
        background-color: #ffffff;
        padding: 20px 30px;
        /* Alla div med text får en bredd på 54%, och lite extra marginal upp och nedtill */
        width: 54%;
        margin: 1% 0;
        border-radius: 3px;
        /* flexbox för att centrera rubriker och paragrafer vertikalt */
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* Lite högre radhöjd, för bättre läsbarhet */
        line-height: 1.6rem;
    }

    .story-text-card h2 {
        margin-bottom: 10px;
        font-size: 1.6rem;
    }

    /* Varje div med en bild i får en bredd på 44% */
    .story-image-card {
        width: 44%;
        margin: 1% 0;
        border-radius: 3px;
    }

    .story-image-card img {
        border-radius: 3px;
    }

    /* Ändrar ordningen på text- och bild-korten, så att inte alla bilder hamnar på samma sida */
    #story-one {
        order: -1;
    }

    #story-two {
        order: 0;
    }

    #story-three {
        order: 1;
    }

    #story-four {
        order: 2;
    }

    #story-five {
        order: 3;
    }

    #story-six {
        order: 4;
    }

    #story-seven {
        order: 5;
    }

    #story-eight {
        order: 6;
    }

    #story-nine {
        order: 7;
    }

    /* Får ta upp en hel rad */
    #story-ten {
        order: 8;
        width: 100%;
    }

    /* Kontakta oss (+response.html) på tablets */
    /* Sektion med öppettider och kontaktuppgifter */
    #hours-contact-section {
        width: 95%;
        margin: 30px auto;
        /* Flexbox så att öppettider och kontaktuppgifter kan flyttas till samma rad */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /* Tar upp en hel rad */
    .contact-first-image-container {
        width: 100%;
        aspect-ratio: 7 / 1;
    }

    /* Öppettider och kontaktuppgifter tillsammans tar upp en rad */
    .hours-contact-text-content {
        width: 100%;
        padding: 15px 20px;
        /* Också flex, för att ordna öppettider och kontaktuppgifters layout */
        display: flex;
    }

    .contact-page-hours {
        width: 50%;
        border-bottom: none;
        border-right: 2px solid black;
        padding-right: 15px;
    }

    .contact-page-contacts {
        /* Tar bort padding som användes på mindre skärm */
        padding-top: 0;
        padding-left: 30px;
        width: 50%;
    }

    .contact-page-social a {
        margin-right: 30px;
    }

    .contact-page-social i {
        margin-top: 15px;
        font-size: 3rem;
    }

    /* Formulär */
    /* Sektion för formulär, motsvarande sektion på respons-sidan, (feedback-section) får samma stil */
    #form-section,
    #feedback-section {
        width: 95%;
        margin: 30px auto;
        display: flex;
        /* flexbox med barn-elementen på flera rader */
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #form-section h2,
    #feedback-section h2 {
        /* Får en bredd på 50% så att den kan dela rad med bilden */
        width: 50%;
        text-align: center;
        align-self: center;
        border-bottom: none;
        font-size: 2.8rem;
        margin-left: 30px;
    }

    .form-image-container {
        width: 30%;
    }

    #feedback-form,
    .response-box {
        /* Tar upp en hel rad */
        width: 100%;
        border-top: 3px solid #514330;
        padding-top: 15px;
        margin-top: 15px;
    }

    .form-input-wrapper {
        margin: 15px 0;
        /* Ändrar så att inputs nu hamnar på en rad */
        display: flex;
        flex-direction: row;
    }

    .form-input-wrapper div {
        margin-right: 30px;
        width: 47%;
    }

    .form-input-wrapper label {
        margin-right: 10px;
    }

    /* Sidfot på tablets */
    footer {
        /* flex-box så att footers content hamnar på en rad, 3 kolumner */
        display: flex;
        justify-content: space-between;
    }

    #footer-copyright {
        display: flex;
        /* positionerar copyright-info till slutet av flexutrymmet */
        align-items: end;
    }
}

/* Stilar för laptops och desktop */
@media screen and (min-width: 1050px) {

    /* Visa header på en rad */
    header {
        flex-direction: row;
        /* Positionera headers element mot böjan av raden */
        justify-content: start;
    }

    /* Justera så att logga och navigering justeras åt vänster och får rätt bredd */
    nav {
        justify-content: left;
        width: 740px;
    }

    .logo-container {
        width: 280px;
        padding-right: 20px;
        padding-bottom: 0px;
    }

    /* Stylar länkarna i navigeringen annorlunda vid hover */
    .navbar a:hover {
        font-weight: 600;
        background-color: #efede9;
        box-shadow: 0 0 3px rgb(205, 200, 198);
    }

    /* Lägger till en extra skugga vid klick */
    .navbar a:active {
        box-shadow: 0 0 5px rgb(126, 121, 119);
    }

    /* Main på laptops och desktop */
    /* Flytta ner main under header */
    main {
        margin-top: 69.5px;
    }

    /* Startsidan på desktop */
    .two-columns {
        width: 97%;
        /* max-bredd */
        max-width: 1400px;
    }

    /* Justerar bredden på respektive kolumn på startsidan */
    #offers-section {
        width: 72%;
    }

    #details-section {
        width: 28%;
        margin-top: 20px;
    }

    #offers-section {
        padding-right: 20px;
        margin-top: 20px;
    }

    #offers-section>div,
    #details-section>div {
        padding: 25px;
        margin-bottom: 20px;
    }

    /* Flex-box för de divs i offers section som innehåller en bild. Ändrar så att texten och bilden hamnar på samma rad */
    .offers-flex-container {
        display: flex;
        justify-content: space-between;
    }

    /* Bilder i offers section */
    .offers-image-container {
        width: 30%;
        max-width: 200px;
        margin: 5px auto;
    }

    .offers-text-container {
        width: 70%;
    }

    .offers-text-container {
        padding-bottom: 0;
    }

    /* Byter plats på texten och bilden i ett av div-elementen */
    .offers-text-right {
        order: 1;
        padding-left: 20px;
    }

    .offers-text-left {
        padding-right: 20px;
    }

    /* Blomsterbud sidan */
    .blomsterbud-main {
        /* Flex för main, för att säkerställa att content hamnar i mitten av skärmen även när man tittar på en stor desktop */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .blomsterbud-wrapper {
        width: 90%;
        max-width: 1200px;
        margin: 40px auto;
        padding: 40px 60px;
    }

    #blomsterbud-text-section {
        /* Flex för att lägga texten och bilden på samma rad */
        display: flex;
        justify-content: space-between;
    }

    .blomsterbud-image-container {
        width: 30%;
        margin: auto;
    }

    .blomsterbud-text {
        width: 70%;
        /* Säkerställer lite utrymme mellan texten och bilden */
        padding-right: 40px;
    }

    .blomsterbud-text h1 {
        font-size: 2.4rem;
        margin-bottom: 20px;
    }

    /* Blomsterbud details sektion */
    #blomsterbud-details-section {
        margin: 40px auto 20px auto;
    }

    .blomsterbud-details-box {
        padding: 30px;
        width: 30%;
    }

    /* Blomsterarrangemang */
    /* Justerar bredd, margin och padding för sektionerna */
    #binderi-intro-section,
    #brollop-section,
    #begravn-section {
        width: 90%;
        max-width: 1200px;
        padding: 30px;
        margin-top: 40px;
        padding-bottom: 50px;
    }

    #begravn-section {
        margin-bottom: 40px;
    }

    /* Justerar aspect-ratio och storlek för bilden som avskärmar sektionerna */
    .arrangemang-divide-container {
        aspect-ratio: 9 / 1;
    }

    .arrangemang-divide-container img {
        width: 20%;
        margin: 15px auto;
    }

    .binderi-top-container {
        width: 100%;
        justify-content: space-around;
    }

    .binderi-top-container h1 {
        font-size: 2.5rem;
    }

    .binderi-intro-text {
        width: 55%;
        font-size: 1.3rem;
    }

    .binderi-image-container {
        /* Tar bort margin som använts på mindre skärmstorlek */
        margin: 0;
        width: 35%;
        max-width: 450px;
    }

    /* Boxar i intro-sektion på blomsterarrangemangs-sidan */
    .binderi-intro-boxes {
        /* Flex för att dessa ska hamna på rad */
        display: flex;
        justify-content: space-evenly;
    }

    .binderi-intro-boxes div {
        width: 31%;
        margin: 25px auto 0 auto;
        padding: 30px 20px;
    }

    /* Bröllop och begravning */
    .brollop-begr-intro-text {
        font-size: 1.3rem;
    }

    .gallery-container {
        width: 100%;
        /* Tar bort "wrap" så att alla bilder nu hamnar på en rad */
        flex-wrap: nowrap;
        padding: 3% 0;
        /* Byter ut ramen runt hela galleriet mot en kant upptill och nedtill */
        border: none;
        border-top: 10px double #e6e4dd;
        border-bottom: 10px double #e6e4dd;
    }

    .gallery-image-container {
        width: 24%;
        margin: 0;
    }

    /* Om oss */
    .story-article {
        width: 90%;
        max-width: 1200px;
        margin: 30px auto;
    }

    .story-article h1 {
        font-size: 2.5rem;
    }

    .story-text-card {
        padding: 20px 40px;
        width: 64%;
        line-height: 2rem;
    }

    .story-text-card h2 {
        font-size: 1.7rem;
    }

    .story-image-card {
        width: 34%;
    }

    /* Kontakta oss sida (+sida response.html) desktop */
    /* Sektion med öppettider och kontaktuppgifter */
    #hours-contact-section {
        /* Sätter nowrap så att bilden nu hamnar på samma rad */
        flex-wrap: nowrap;
        width: 90%;
        max-width: 1200px;
        margin: 40px auto;
    }

    .hours-contact-text-content {
        /* Sätter bredden till 90% av föräldern */
        width: 90%;
        /* Ändrar ordningen, så att bilden hamnar till höger */
        order: -1;
        padding: 30px 50px 30px 30px;
    }

    /* Öppettider och kontaktuppgifter tar upp halva sin container var */
    .contact-page-hours {
        width: 50%;
        border-right: 3px solid #514330;
        padding-right: 20px;
    }

    .contact-page-contacts {
        padding-left: 30px;
        width: 50%;
    }

    .contact-page-social a {
        margin-right: 30px;
    }

    .contact-page-social i {
        margin-top: 20px;
        font-size: 3.5rem;
    }

    /* Bild på kontakta oss sidan */
    .contact-first-image-container {
        /* Bredden 10% av föräldern. Blir 100% tillsammans med (.hours-contact-text-content) */
        width: 10%;
        aspect-ratio: 1 / 4;
        /* Tar bort padding upptill och lägger till padding till höger */
        padding-top: 0;
        padding-right: 25px;
    }

    /* Formulär */
    /* Sektion för formulär, motsvarande sektion på respons-sidan, (feedback-section) får samma stil */
    #form-section,
    #feedback-section {
        width: 90%;
        max-width: 1200px;
        padding: 30px;
        margin: 40px auto;
    }

    #form-section h2,
    #feedback-section h2 {
        /* tar upp en hel rad */
        width: 100%;
        text-align: left;
        align-self: center;
        /* Lägger till en kant nedtill */
        border-bottom: 3px solid #514330;
        margin-left: 0;
        font-size: 2rem;
    }

    .form-image-container {
        width: 30%;
        margin: auto;
        max-width: 350px;
        /* Ändrar ordningen så att bilden hamnar sist (till höger om formuläret) */
        order: 1;
    }

    #feedback-form,
    .response-box {
        width: 65%;
        padding-right: 40px;
        /* Tar bort kanten upptill på formuläret */
        border-top: none;
    }

    /* Sätter en min-höjd på div som håller responsen för att layout ska fungera */
    .response-box {
        min-height: 370px;
    }

    /* Sidfot på laptops och desktop */
    footer div,
    footer address {
        margin: 1.5rem 1.5rem;
    }
}