/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

/* Tar bort default browser stilar */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generella stilar på mobil skärm */
body {
    /* Body ska alltid ta upp minst hela fönstret */
    min-height: 100vh;
    width: 100%;
    /* Typsnitt, färg, utseende */
    font-family: 'Lato', sans-serif;
    color: #2e2e22;
    background-color: #e6e4dd;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Athiti', sans-serif;
    margin-bottom: 5px;
}

/* Sidhuvud mobil */
header {
    /* Sitter fast och är positionerat fram på sidan*/
    position: fixed;
    z-index: 99;
    background-color: #ffffff;
    padding: 10px 15px;
    width: 100%;
    box-shadow: 0 1px 2px black;
    /* Delar upp loggan och hamburgerikonen */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* Stilar för länkar i sidhuvudet */
header a {
    text-decoration: none;
    color: black;
}

/* Logga mobil */
.logo-container a {
    font-family: 'Dancing script', cursive;
    font-weight: 700;
    font-size: 1.9rem;
}

/* Dropdown-meny mobil */
nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 0 0;
    box-shadow: 0 1px 2px black;
    /* Gömmer menyn */
    display: none;
}

/* Menylänkar mobil */
.navbar a {
    padding: 15px 10px;
    margin: 5px 7px;
    font-size: 1rem;
    color: black;
    background-color: #e6e4dd;
    text-transform: uppercase;
}

.navbar a:active {
    box-shadow: 0 0 5px rgb(87, 83, 82);
}

/* Markera den aktuella sidan */
#active {
    text-decoration: underline;
}

/* Navbar toggle på mobil */
#nav-toggle:checked~nav {
    display: flex;
    flex-direction: column;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main på mobil */
/* Flytta ner main under header */
main {
    margin-top: 60px;
    /* Gör så att main "växer" och trycker ner sidfot till botten */
    flex: 1 0 auto;
}

/* Hero section styles */
#hero {
    height: 450px;
    width: 100%;
    background: url("../images/ivy.webp") no-repeat center center/cover;
    position: relative;
}

/* BEHÖVER KOMMENTERAS */
#hero-text-container {
    background-color: #ffffff;
    border: 5px solid #e6e4dd;
    font-size: 120%;
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 40px 20px;
    min-height: 200px;
    position: absolute;
    bottom: 100px;
    border-radius: 50%;
    text-align: center;
    max-width: 515px;
}

#hero-logo {
    font-size: 2rem;
    font-family: 'Dancing script', cursive;
    margin: 7px 0;
}

/* Content sektioner */
.two-columns {
    width: 93%;
    margin: auto;
}

#offers-section {
    margin-top: 15px;
}

#offers-section>div,
#details-section>div {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 15px;
}

/* Bilder i offers section */
.offers-image-container {
    width: 85%;
    max-width: 300px;
    display: flex;
    margin: 20px auto;
}

.offers-image-container img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.offers-text-container {
    padding-bottom: 10px;
}

/* Länkar till sociala medier, details */
#details-section a {
    text-decoration: none;
    font-size: 3rem;
    margin-right: 10px;
    color: rgb(65, 54, 38);
}

/* Blomsterbud sidan */
.blomsterbud-wrapper {
    background-color: white;
    width: 93%;
    margin: 15px auto;
    padding: 15px;
}

.blomsterbud-text h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.blomsterbud-text {
    font-size: 1.1rem;
}

.blomsterbud-image-container {
    width: 70%;
    max-width: 300px;
    margin: 20px auto 10px auto;
    display: flex;
    padding: 10px;
    border-radius: 50%;
    border: 5px double #514330;
}

.blomsterbud-image-container img {
    width: 100%;
    object-fit: cover;
    display: flex;
    border-radius: 50%;
}

/* Blomsterbud details sektion */
#blomsterbud-details-section {
    margin: 25px 0;
}

.blomsterbud-details-box {
    background-color: #efede9;
    color: #2e2e22;
    padding: 20px;
    text-align: center;
    border-radius: 3px;
    margin: 15px 0;
    text-transform: uppercase;
}

.blomsterbud-details-paragraph {
    font-size: 1.1rem;
}

/* Blomsterarrangemang */
#binderi-intro-section,
#brollop-section,
#begravn-section {
    width: 93%;
    margin: auto;
    background-color: white;
    margin-top: 15px;
    padding: 15px;
}

.arrangemang-divide-container {
    display: flex;
    width: 100%;
    margin: auto;
    aspect-ratio: 4 / 1;
    height: auto;
}

.border-bottom {
    border-bottom: 5px double #e6e4dd;
    margin-bottom: 15px;
}

.border-top {
    border-top: 5px double #e6e4dd;
    margin-top: 40px;
}

.arrangemang-divide-container img {
    width: 50%;
    margin: auto;
    object-fit: contain;
}

#begravn-section {
    margin-bottom: 15px;
}

.binderi-intro-text {
    font-size: 1.1rem;
}

.binderi-image-container {
    display: flex;
    width: 75%;
    max-width: 300px;
    margin: 15px auto 0 auto;
}

.binderi-image-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.binderi-intro-boxes div {
    background-color: #efede9;
    width: 100%;
    margin: 15px auto 0 auto;
    padding: 15px;
    border-radius: 3px;
}

.binderi-intro-boxes h2 {
    font-size: 1.3rem;
}

.link-standard {
    text-decoration: none;
    font-weight: 600;
    color: #514330;
}

.link-standard:hover {
    text-decoration: underline;
}

/* Bröllop och begravning */
.brollop-begr-intro-text {
    font-size: 1.1rem;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0;
}

.gallery-image-container {
    width: 49%;
    aspect-ratio: 1/1;
    display: flex;
    margin: 1% 0;
}

.gallery-image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Om oss */
.story-article {
    width: 93%;
    margin: 15px auto;
}

.story-article h1 {
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
}

.story-text-card {
    background-color: #ffffff;
    padding: 10px;
}

.story-image-card {
    width: 100%;
    display: flex;
}

.story-image-card img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border: 10px solid white;
}

/* Kontakta oss sida */
/* Behållare för båda sektionerna */
.contact-wrapper {
    display: flex;
    flex-direction: column;
    width: 93%;
    margin: 20px auto;
}

/* Sektion med öppettider och kontaktuppgifter */
#hours-contact-section {
    background-color: white;
    /* Skapar avstånd till nästa sektion */
    margin-bottom: 20px;
}

/* Bild i första sektionen */
.contact-first-image-container {
    width: 100%;
    aspect-ratio: 6 / 1;
    display: flex;
    padding-top: 10px;
}

.contact-first-image-container img {
    width: 100%;
    object-fit: cover;
}

.hours-contact-text-content {
    padding: 15px;
}

.contact-page-hours {
    border-bottom: 3px solid #514330;
    padding-bottom: 15px;
}

.contact-page-contacts {
    padding: 15px 0;
}

.contact-page-social {
    border-top: 3px solid #514330;
    padding-top: 15px;
}

.contact-page-social a {
    text-decoration: none;
    color: #514330;
    margin-right: 20px;
}

.contact-page-social i {
    margin-top: 15px;
    font-size: 2.8rem;
}

/* Formulär */
#form-section {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
}

#form-section h2 {
    text-transform: uppercase;
    border-bottom: 3px solid #514330;
}

.form-image-container {
    width: 50%;
    max-width: 300px;
    display: flex;
    margin: 20px auto;
    border-radius: 50%;
    padding: 5px;
    border: 3px solid #0d3e16;
}

.form-image-container img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

#feedback-form {
    display: flex;
    flex-direction: column;
}

.form-intro {
    font-weight: 600;
    font-size: 1.1rem;
}

.form-input-wrapper div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#feedback-form label {
    margin-top: 10px;
    font-weight: 600;
}

#feedback-form textarea {
    height: 100px;
}

#feedback-form input,
#feedback-form textarea {
    padding: 5px;
    font-size: 1rem;
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
}

.submit-button {
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 8px;
    background-color: rgb(18, 85, 18);
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Athiti', sans-serif;
    margin: 15px 0;
}

.submit-button:hover {
    box-shadow: 10px 10px 30px #bcb9b9;
}

.submit-button:active {
    box-shadow: 10px 10px 15px #959292;
    background-color: rgb(14, 64, 14);
}

/* Sidfot mobil */
footer {
    background-color: rgb(65, 54, 38);
    color: #ffffff;
}

footer div {
    margin: 1rem 1rem;
}

footer address {
    font-style: normal;
}

/* Stilar för tablets */
@media screen and (min-width: 768px) {

    /* Sidhuvud på tablets */
    header {
        padding: 5px 15px;
        width: 100%;
        box-shadow: 0 1px 2px black;
        /* Delar upp loggan och hamburgerikonen */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Tar fram menyn */
    nav,
    #nav-toggle:checked~nav {
        position: relative;
        box-shadow: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* Gömmer hamburgerikonen */
    .nav-toggle-label {
        display: none;
    }

    /* Skapa lite utrymme mellan logga och meny */
    .logo-container {
        padding-bottom: 5px;
    }

    /* Main på tablets */
    /* Flytta ner main under header */
    main {
        margin-top: 111px;
        font-size: 1.1rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    /* Hero på tablet BEHÖVER KOMMENTERAS */
    #hero-text-container {
        font-size: 120%;
        width: 70%;
        max-width: 600px;
        padding: 40px 20px;
        min-height: 230px;
        bottom: 100px;
    }

    #hero-logo {
        font-size: 3rem;
        margin: 10px 0;
    }

    /* Content sektioner tablets */
    .two-columns {
        width: 96%;
    }

    #offers-section {
        float: left;
        width: 68%;
        padding-right: 15px;
    }

    #details-section {
        width: 32%;
        float: right;
        margin-top: 15px;
    }

    /* Blomsterbud sidan */
    .blomsterbud-wrapper {
        margin: 30px auto;
        padding: 20px;
        width: 95%;
    }

    #blomsterbud-text-section {
        margin: auto;
    }

    .blomsterbud-text h1 {
        font-size: 1.8rem;
    }

    .blomsterbud-text {
        font-size: 1.2rem;
    }

    .blomsterbud-image-container {
        width: 40%;
        max-width: 350px;
        margin: 30px auto;
    }

    /* Blomsterbud details sektion */
    #blomsterbud-details-section {
        margin: 40px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .blomsterbud-details-box {
        padding: 20px;
        width: 32%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
    }

    .blomsterbud-details-paragraph {
        font-size: 1.2rem;
    }

    /* Blomsterarrangemang */
    #binderi-intro-section,
    #brollop-section,
    #begravn-section {
        width: 95%;
        padding: 25px;
        margin-top: 20px;
        padding-bottom: 40px;
    }

    #begravn-section {
        margin-bottom: 20px;
    }

    .arrangemang-divide-container {
        aspect-ratio: 7 / 1;
    }

    .arrangemang-divide-container img {
        width: 30%;
        margin: 10px auto;
    }

    .border-bottom {
        border-bottom: 8px double #e6e4dd;
        margin-bottom: 25px;
    }

    .border-top {
        border-top: 8px double #e6e4dd;
        margin-top: 60px;
    }

    .binderi-top-container {
        margin: auto;
        padding: 0 15px 15px 15px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    .binderi-top-container h1 {
        font-size: 2.2rem;
    }

    .binderi-intro-text {
        font-size: 1.2rem;
    }

    .binderi-image-container {
        margin-left: 20px;
    }

    .binderi-intro-boxes div {
        background-color: #efede9;
        margin: 20px auto 0 auto;
        padding: 25px 20px;
    }

    /* Bröllop och begravning */
    .brollop-begr-intro-text {
        font-size: 1.2rem;
    }

    .gallery-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2% 3%;
        border: 10px double #e6e4dd;
        margin: 20px auto;
    }

    .gallery-image-container {
        width: 49%;
        margin: 1% 0;
    }

    /* Om oss */
    .story-article {
        width: 95%;
        margin: 15px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .story-article h1 {
        font-size: 1.8rem;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
    }

    .story-text-card {
        background-color: #ffffff;
        padding: 10px 30px;
        width: 54%;
        margin: 1% 0;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.6rem;
    }

    .story-text-card h2 {
        margin-bottom: 10px;
        font-size: 1.6rem;
    }

    .story-image-card {
        width: 44%;
        margin: 1% 0;
        border-radius: 3px;
    }

    .story-image-card img {
        border-radius: 3px;
    }

    #story-one {
        order: -1;
    }

    #story-two {
        order: 0;
    }

    #story-three {
        order: 1;
    }

    #story-four {
        order: 2;
    }

    #story-five {
        order: 3;
    }

    #story-six {
        order: 4;
    }

    #story-seven {
        order: 5;
    }

    #story-eight {
        order: 6;
    }

    #story-nine {
        order: 7;
    }

    #story-ten {
        order: 8;
        width: 100%;
    }

    #story-ten span {
        font-weight: 700;
    }

    /* Kontakta oss på tablets */
    .contact-wrapper {
        width: 95%;
        margin: 30px auto;
    }

    /* Sektion med öppettider och kontaktuppgifter */
    #hours-contact-section {
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .contact-first-image-container {
        width: 100%;
        aspect-ratio: 7 / 1;
    }

    .hours-contact-text-content {
        padding: 15px 20px;
        display: flex;
        width: 100%;
    }

    .contact-page-hours {
        width: 50%;
        border-bottom: none;
        border-right: 2px solid black;
        padding-right: 15px;
    }

    .contact-page-contacts {
        padding-top: 0;
        padding-left: 30px;
        width: 50%;
    }

    .contact-page-social a {
        margin-right: 30px;
    }

    .contact-page-social i {
        margin-top: 15px;
        font-size: 3rem;
    }

    /* Formulär */
    #form-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #form-section h2 {
        width: 50%;
        text-align: center;
        align-self: center;
        border-bottom: none;
        font-size: 2.8rem;
        margin-left: 30px;
    }

    .form-image-container {
        width: 30%;
    }

    #feedback-form {
        width: 100%;
        border-top: 3px solid #514330;
        padding-top: 15px;
        margin-top: 15px;
    }

    .form-input-wrapper {
        margin: 15px 0;
        display: flex;
        flex-direction: row;
    }

    .form-input-wrapper div {
        display: flex;
        flex-direction: row;
        margin-right: 30px;
        width: 50%;
    }

    .form-input-wrapper label {
        margin-right: 10px;
    }

    /* Sidfot på tablets */
    footer {
        display: flex;
        justify-content: space-between;
    }

    #footer-copyright {
        display: flex;
        align-items: end;
    }

}

/* Stilar för laptops och desktop */
@media screen and (min-width: 1050px) {

    /* Visa header på en rad */
    header {
        flex-direction: row;
        justify-content: start;
    }

    /* Justera så att logga och navigering justeras åt vänster och får rätt bredd */
    nav {
        justify-content: left;
        width: 740px;
    }

    .logo-container {
        width: 280px;
        padding-right: 20px;
        padding-bottom: 0px;
    }

    .navbar a:hover {
        font-weight: 600;
        background-color: #efede9;
        box-shadow: 0 0 3px rgb(205, 200, 198);
    }

    .navbar a:active {
        box-shadow: 0 0 5px rgb(126, 121, 119);
    }

    /* Main på laptops och desktop */
    /* Flytta ner main under header */
    main {
        margin-top: 69.5px;
    }

    /* Content sections på desktop */
    /* Content sektioner tablets */
    .two-columns {
        width: 97%;
        max-width: 1400px;
    }

    #offers-section {
        width: 72%;
    }

    #details-section {
        width: 28%;
        margin-top: 20px;
    }

    #offers-section {
        padding-right: 20px;
        margin-top: 20px;
    }

    #offers-section>div,
    #details-section>div {
        padding: 25px;
        margin-bottom: 20px;
    }

    .offers-flex-container {
        display: flex;
        justify-content: space-between;
    }

    /* Bilder i offers section */
    .offers-image-container {
        width: 30%;
        max-width: 200px;
        margin: 5px auto;
    }

    .offers-text-container {
        width: 70%;
    }

    .offers-text-container {
        padding-bottom: 0;
    }

    .offers-text-right {
        order: 1;
        padding-left: 20px;
    }

    .offers-text-left {
        padding-right: 20px;
    }

    /* Blomsterbud sidan */
    .blomsterbud-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .blomsterbud-wrapper {
        width: 90%;
        max-width: 1200px;
        margin: 40px auto;
        padding: 40px 60px;
    }

    #blomsterbud-text-section {
        display: flex;
        justify-content: space-between;
    }

    .blomsterbud-image-container {
        width: 30%;
        margin: auto;
    }

    .blomsterbud-text {
        width: 70%;
        padding-right: 40px;
    }

    .blomsterbud-text h1 {
        font-size: 2.4rem;
        margin-bottom: 20px;
    }

    /* Blomsterbud details sektion */
    #blomsterbud-details-section {
        margin: 40px auto 20px auto;
    }

    .blomsterbud-details-box {
        padding: 30px;
        width: 30%;
    }

    /* Blomsterarrangemang */
    #binderi-intro-section,
    #brollop-section,
    #begravn-section {
        width: 90%;
        max-width: 1200px;
        padding: 30px;
        margin-top: 40px;
        padding-bottom: 50px;
    }

    #begravn-section {
        margin-bottom: 40px;
    }

    .arrangemang-divide-container {
        aspect-ratio: 9 / 1;
    }

    .arrangemang-divide-container img {
        width: 20%;
        margin: 15px auto;
    }

    .binderi-top-container {
        width: 100%;
        justify-content: space-around;
    }

    .binderi-top-container h1 {
        font-size: 2.5rem;
    }

    .binderi-intro-text {
        width: 55%;
        font-size: 1.3rem;
    }

    .binderi-image-container {
        margin: 0;
        width: 35%;
        max-width: 450px;
    }

    .binderi-intro-boxes {
        display: flex;
        justify-content: space-evenly;
    }

    .binderi-intro-boxes div {
        width: 31%;
        margin: 25px auto 0 auto;
        padding: 30px 20px;
    }

    /* Bröllop och begravning */
    .brollop-begr-intro-text {
        font-size: 1.3rem;
    }

    .gallery-container {
        width: 100%;
        flex-wrap: no-wrap;
        padding: 3% 0;
        border: none;
        border-top: 10px double #e6e4dd;
        border-bottom: 10px double #e6e4dd;
    }

    .gallery-image-container {
        width: 24%;
        margin: 0;
    }

    /* Om oss */
    .story-article {
        width: 90%;
        max-width: 1200px;
        margin: 30px auto;
    }

    .story-article h1 {
        font-size: 2.5rem;
    }

    .story-text-card {
        padding: 20px 40px;
        width: 64%;
        line-height: 2rem;
    }

    .story-text-card h2 {
        font-size: 1.7rem;
    }

    .story-image-card {
        width: 34%;
    }

    /* Kontakta oss sida desktop */
    .contact-wrapper {
        margin: 40px auto;
        width: 90%;
        max-width: 1200px;
    }

    /* Sektion med öppettider och kontaktuppgifter */
    #hours-contact-section {
        flex-wrap: no-wrap;
    }

    .hours-contact-text-content {
        width: 90%;
        order: -1;
        padding: 30px 50px 30px 30px;
    }

    .contact-page-hours {
        width: 50%;
        border-right: 3px solid #514330;
        padding-right: 20px;
    }

    .contact-page-contacts {
        padding-left: 30px;
        width: 50%;
    }

    .contact-page-social a {
        margin-right: 30px;
    }

    .contact-page-social i {
        margin-top: 20px;
        font-size: 3.5rem;
    }

    /* Bild på kontakta oss sidan */
    .contact-first-image-container {
        width: 10%;
        aspect-ratio: 1 / 4;
        padding-top: 0;
        padding-right: 25px;
    }

    /* Formulär */
    #form-section {
        padding: 30px;
    }

    #form-section h2 {
        width: 100%;
        text-align: left;
        align-self: center;
        order: -2;
        border-bottom: 3px solid #514330;
        margin-left: 0;
        font-size: 2rem;
    }

    .form-image-container {
        width: 30%;
        margin: auto;
        max-width: 350px;
    }

    #feedback-form {
        width: 65%;
        padding-right: 40px;
        order: -1;
        border-top: none;
    }


    /* Sidfot på laptops och desktop */
    footer div {
        margin: 1.5rem 1.5rem;
    }

}